body {
    font-family: Arial, sans-serif;
    background-image: url('../pics/IMS.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav-bar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.login-container {
    width: 300px;
    margin:100px auto;
	top:200px;
    padding: 20px;  
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
	
}

.login-form {
    margin-top: 20px;
}

.login-form input[type="email"], .login-form input[type="password"] {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form input[type="submit"] {
    width: 80%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #3e8e41;
}

.create-account-btn {
    width: 80%;
    height: 40px;
    background-color: #337ab7;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.create-account-btn:hover {
    background-color: #23527c;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
}
